{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
  <div class="jumbotron">
    <h2 class="display-4">Welcome to the Message Board</h2>

    {% if user.is_authenticated %}

      <a class="btn btn-lg btn-primary"
         href="{% url "message_list" %}"
         role="button">Browse Messages »</a>
    {% else %}

      <p class="lead">A simple message board made with Django.</p>

      <a class="btn btn-lg btn-primary"
         href="{% url 'account_signup' %}"
         role="button">Register »</a>
    {% endif %}
  </div>
{% endblock content %}
