{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Django, message-board" />
    <meta name="description"
          content="A message-board web app built with Django" />
    <title>Message Board |
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="shortcut icon"
          type="image/x-icon"
          href="{% static 'images/favicon.ico' %}" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'message_list' %}">Message Board</a>
        {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="btn btn-outline-light text-light"
                 href="{% url 'message_new' %}">New Message</a>
            </li>
          </ul>
        {% endif %}
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">{{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'user_detail' user.username %}">My Profile</a>
                  <a class="dropdown-item" href="{% url 'account_set_password' %}">Change password</a>
                  <a class="dropdown-item" href="{% url 'account_reset_password' %}">Forgot password?</a>
                  <a class="dropdown-item" href="{% url 'account_email' %}">Change email</a>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                  <a class="dropdown-item" href="{% url 'about' %}">About</a>
                </div>
              </li>
            </ul>
          {% else %}
            <form class="form-inline ml-auto">
              <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log In</a>
              <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
              <a href="{% url 'about' %}" class="btn btn-outline-secondary ml-2">About</a>
            </form>
          {% endif %}
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}
        {% endblock page_header %}
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
      </div>
      <!-- Pagination -->
      <ul>
        {% if page_obj.has_other_pages %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li>
                <a class="btn btn-info btn-sm mr-1"
                   href="?page={{ page_obj.previous_page_number }}">« Previous</a>
              </li>
            {% else %}
              <li class="btn btn-info btn-sm disabled mr-1">
                <span>« Previous</span>
              </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="btn btn-info btn-sm active mr-1">
                  <span> {{ i }} <span class="sr-only">(current)</span></span>
                </li>
              {% else %}
                <li>
                  <a class="btn btn-info btn-sm mr-1" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li>
                <a class="btn btn-info btn-sm"
                   href="?page={{ page_obj.next_page_number }}">Next »</a>
              </li>
            {% else %}
              <li class="btn btn-info btn-sm disabled">
                <span>Next »</span>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </ul>
      <!-- Bootstrap JavaScript -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous"></script>
      <!-- JavaScript -->
      <script src = "{% static 'js/base.js' %}"></script>
    </main>
    <!-- Begin footer -->
    <div class="container">
      <div class="content"></div>
      <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
          <div class="col-md-12 col-sm-12 col-sm-push-6">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item col-md-2">
                <p class="copyright">© 2023 message-board®</p>
              </li>
              <li class="nav-item col-md-2"></li>
              <li class="nav-item col-md-2">
                <a class="btn btn-outline-light btn-sm mt-1"
                   href="https://github.com/kevinbowen777/message-board"
                   target="_blank">Source Code</a>
              </li>
              <li class="nav-item col-md-2">
                <a class="btn btn-outline-light btn-sm mt-1"
                   href="https://github.com/kevinbowen777/message-board/issues"
                   target="_blank">Bug Reports</a>
              </li>
              <li class="nav-item col-md-2">
                <a class="btn btn-outline-light btn-sm mt-1" href="{% url "contact" %}">Contact Us</a>
              </li>
              <li class="nav-item col-md-2">
                <a class="btn btn-outline-light btn-sm mt-1" href="{% url "about" %}">About Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </footer>
    </div>
    <!-- End footer -->
  </body>
</html>
