{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Update Message
{% endblock title %}
{% block content %}
  <div class="container">
    <p>
      <h2>Edit Message</h2>
      <form class="col-md-6" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Update">
        <a class="btn btn-info" href="#" onclick="window.history.back()">Cancel</a>
      </form>
    </p>
  </div>
{% endblock content %}
